body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: ;
  color: #333;
}

h1 {
  text-align: center;
  color: #2c3e50;
}

h2 {
  text-align: center;
  color: #2c3e50;
}

p {
  max-width: 1000px;
  margin: 10px auto;
  line-height: 1.5;
  font-size: 18px;
}

#source {
  font-size: 14px;
}


#more {
  display: none;
}

button {
  display: block;
  margin: 15px auto;
  padding: 10px 20px;
  background-color: #2c3e50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

button:hover {
  background-color: #34495e;
}

#meditationImg {
  display: block;
  margin: auto;
  width: 30%;
}